In [1]:
import os
import fiona
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

PROJ: proj_create_from_database: Cannot find proj.db

In [2]:
c = fiona.open('NODELINKDATA-2020-03-31/MOCT_LINK.shp', encoding='euc-kr')
link_gdf = gpd.GeoDataFrame.from_features(c, crs=c.crs).to_crs('epsg:4326')
c = fiona.open('NODELINKDATA-2020-03-31/MOCT_NODE.shp', encoding='euc-kr')
node_gdf = gpd.GeoDataFrame.from_features(c, crs=c.crs).to_crs('epsg:4326')

In [3]:
link_gdf.head(5)

,geometry,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,LENGTH,REMARK
0,"LINESTRING (129.02586 35.31632, 129.02604 35.3...",3880778900,3880289100,3880289500,1,107,000,-,금오14길,0,0,000,40,0,0,0,134.2642,None
1,"LINESTRING (129.02604 35.31752, 129.02611 35.3...",3880779000,3880289500,3880289000,1,107,000,-,금오14길,0,0,000,40,0,0,0,40.1724,None
2,"LINESTRING (129.02598 35.31789, 129.02591 35.3...",3880779100,3880289000,3880289500,1,107,000,-,금오14길,0,0,000,40,0,0,0,40.1723,None
3,"LINESTRING (129.02661 35.31753, 129.02598 35.3...",3880779200,3880289600,3880289500,1,107,000,-,금오14길,0,0,000,40,0,0,0,57.1228,None
4,"LINESTRING (129.02597 35.31747, 129.02660 35.3...",3880779300,3880289500,3880289600,1,107,000,-,금오14길,0,0,000,40,0,0,0,57.1228,None

In [4]:
mdf = pd.read_excel('서울시 표준링크 매핑정보_2020년3월 기준.xlsx')

In [ ]:
adf_list = []
for fname in sorted(os.listdir('csv')):
    adf_list.append(pd.read_csv('csv/'+fname))
adf = pd.concat(adf_list)

In [ ]:
adf.head(5)

In [ ]:
for m in adf.columns:
    print(m, adf[m].dtype)

In [ ]:
tdf = mdf[mdf['서비스링크'].isin(adf['링크아이디'].unique())]

In [ ]:
from cartoframes.viz import Layer, popup_element
Layer(
    link_gdf[link_gdf['LINK_ID'].astype(np.int64).isin(tdf['표준링크아이디'])],
    popup_click=[
        popup_element('LINK_ID'),
    ]
)

In [ ]:
dcols = adf.columns[8:]

In [ ]:
plt.matshow(adf[adf['링크아이디'] == 1010014100][dcols].values[-40:])
plt.show()